.rel-none{
    position: relative!important;
    top: 0px!important;
    padding: 0!important;
    border: none!important;
    margin: 0!important;
    height: 0!important;
    width: 100%!important;
}
div.entity-hints {
    color: #1e1e1e!important;
    background-color: white!important;
    border: darkgray thin solid!important;
    position: absolute!important;
    top: 30px!important;
    left: 40px!important;
    width: 175%!important;
    z-index: 1000!important;
    display: none;
    border-bottom-right-radius: .25rem!important;
    border-bottom-left-radius: .25rem!important;
}
table.entity-hints{
    width: 100%!important;
}

table.entity-hints, table.entity-hints td,  table.entity-hints th {
    border: none !important;
    padding: 5px 10px!important;
}
table.entity-hints th {
    font-weight: bold!important;

}
table.entity-hints tr.hint {
    border-top: thin lightgrey solid!important;
    padding: 5px 10px!important;
    cursor: pointer!important;
}
table.entity-hints tr.hint:hover{
    background-color: grey!important;
}
table.entity-hints tr.hint.selected-hint{
    background-color: lightblue;
}
table.entity-hints tr:visited{
    color: #2F64B2!important;
}
