ix\:nonfraction.ixbrlViewer_standardFrame {
    cursor: hand;
    border-bottom: 2px solid #FF6600 !important;
}
ix\:nonfraction.ixbrlViewer_standardFrame:hover {
    background-color: lightsalmon;
}
ix\:nonfraction.ixbrlViewer_customTaxonomy {
    cursor: hand;
    border-bottom: 1px dotted #FF6600!important;
}

#popviz, #tabs-ts, #tabs-frame{
    cursor: default !important;
    border: thin lightgrey solid;
}

#popviz {
    background-color: #e9e9e9;
    padding: 0 10px 10px 10px;
}
#popviz ul.ui-widget-header{
    border: none;
}
#tabs-ts, #tabs-frame, #tabs-info{
    min-height: 500px;
    background-color: white;
}
div.framecontrols{
    margin-bottom: 10px;
}
#saved, #save, #compare {
    float: right;
    padding: 4px;
    margin: 4px;
}
#compare {
    float: right;
    padding: 4px;
    margin: 4px 40px 4px 4px;
}
.strikethrough {
    text-decoration: line-through;
}
div.clear_localStorage {
    margin: 0;
    float: right;
}
span.clear_localStorage {
    text-decoration-line: underline;
    color: #0000FF;
    cursor: hand;
}

div.compare_companies_box {
    background-color: lightskyblue;
    padding: 7px;
    margin: 0 0 10px 0;
}

#lookup_user_symbols, #user_symbols {
    margin: 0 10px 7px;
}

#chart-options {
    font-family: "Arial", "sans-serif";
    cursor: pointer;
}
#frame-table{
    font-size: 12px;
}
fieldset.player_controls {
    margin-top: 15px;
    border: thin grey dotted;
}
fieldset.player_controls legend{
    color: grey;
}
div.player_controls{
    position: relative;
    height: 25px;
}
button.player_home {
    position: absolute;
    left: 0;
}
div.slider_outer {
    display: inline-block;
    width: 90%;
    /*margin: 5px;
    top: 6px;
    */
    position: absolute;
    left: 5%;
}
div.player_slider {
    top: 7px;
    cursor: hand;
}
#sliderTip{
    display: none;
    position: absolute;
    bottom: 10px;
    border: thin grey solid;
    background-color: white;
    z-index: 10;
}
button.player_play {
    position: absolute;
    right: 0;
}
.ui-icon-trash:hover {
    background-image: url("/global/js/jqueryui/images/ui-icons_cc0000_256x240.png");
}

#maptitle{
    background-color: rgb(179, 224, 255);
    text-align: center;
    font-size: large;
    padding: 5px;
}
#mapdatalinks{
    text-align: right;
    font-size: small;
    padding: 5px;
}

#mapdatalinks a {
    color: #0000FF;
}

.highcharts-tooltip{
    width: auto !important;
}
.highcharts-tooltip table{
    font-size: small;
}
g.highcharts-series{
    cursor: pointer;
}
div.highcharts-tooltip {
    pointer-events: auto !important;
}

/* sytles to support on-click stable tooltips */
.highcharts-tooltip > span {
    display: block;
}

.highcharts-tooltip > span .center {
    text-align: center;
}

.highcharts-tooltip > span .img-block {
    width: 100%;
    height: 50%;
}

.highcharts-tooltip > span > .img-block > img {
    width: 50%;
    height: 100%;
}

.highcharts-tooltip > span > .center > .btn {
    display: inline-block;
    padding: 6px 12px;
    margin: 7px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    text-decoration: none;
}

.highcharts-tooltip > span > .center > .btn-primary {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
}

.invisible {
    visibility: hidden !important;
}

.highcharts-tooltip:not(.clone){
    visibility: hidden !important;
}

.tttip{
    position: absolute;
    top: 30%;
    left: 45%;
    z-index: 1000000;
    background-color: azure;
    padding: 10px;
    border: thin grey solid;
}

.custom-combobox {
    position: relative;
    display: inline-block;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}
.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
    width: 400px;
}
.ui-front{
    z-index: 99999;
}

.ui-widget-content a {
    color: rgb(0, 0, 238);
}
.frameSlider{
    width: 700px;
    display: inline-block;
    margin: 10px 15px 0 40px;
} 
#frameOptionTags{
    margin-top: 8px;
}

.frameColumnButton:hover .ui-button-icon {
    background: url(/global/js/jqueryui/images/ui-icons_cc0000_256x240.png);
    background-position: -96px -128px;
}

#frame-table{
    line-height: 0.9;
}

#fs-select {
    background-color: white;
    color: #003768;
    margin: 4px 3px 0px 10px;
    height: 20px;
    font-weight: bold;
}
#fs-redline, #fs-go{
    background-color: white;
    color: #003768;
    margin: 2px;
    padding: 2px;
    font-weight: bold;
}
.italic {
    font-style: italic;
    font-weight: normal;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #111 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

#tabs-frame th.th-no-underline{
    border-bottom: none !important;
}
#tabs-frame th.th-underline-with-break{
     border-bottom-left-radius: 3px;
     border-bottom-right-radius: 3px;
     text-align: center;
 }