ix\:nonfraction.ixbrlViewer_standardFrame {
    cursor: hand;
    border-bottom: 2px solid #FF6600 !important;
}
ix\:nonfraction.ixbrlViewer_standardFrame:hover {
    background-color: lightsalmon;
}
ix\:nonfraction.ixbrlViewer_customTaxonomy {
    cursor: hand;
    border-bottom: 1px dotted #FF6600!important;
}

#popviz, #tabs-ts, #tabs-map, #tabs-scatter, #tabs-frame{
    cursor: default !important;
    border: thin lightgrey solid;
}
#tabs-ts, #tabs-map, #tabs-scatter, #tabs-frame{
    min-height: 500px;
}
div.framecontrols{
    margin-bottom: 10px;
}
#saved, #save, #compare {
    float: right;
    padding: 4px;
    margin: 4px;
}
.strikethrough {
    text-decoration: line-through;
}
div.clear_localStorage {
    margin: 0;
    float: right;
}
span.clear_localStorage {
    text-decoration-line: underline;
    color: #0000FF;
    cursor: hand;
}

div.compare_companies_box {
    background-color: lightskyblue;
    padding: 7px;
    margin: 0 0 10px 0;
}

#lookup_user_symbols, #user_symbols {
    margin: 0 10px 7px;
}

#chart-options {
    font-family: "Arial", "sans-serif";
    cursor: pointer;
}
#frame-table{
    font-size: 12px;
}
fieldset.player_controls {
    margin-top: 15px;
    border: thin grey dotted;
}
fieldset.player_controls legend{
    color: grey;
}
div.player_controls{
    position: relative;
    height: 25px;
}
button.player_home {
    position: absolute;
    left: 0;
}
div.slider_outer {
    display: inline-block;
    width: 90%;
    /*margin: 5px;
    top: 6px;
    */
    position: absolute;
    left: 5%;
}
div.player_slider {
    top: 7px;
    cursor: hand;
}
#sliderTip{
    display: none;
    position: absolute;
    bottom: 10px;
    border: thin grey solid;
    background-color: white;
    z-index: 10;
}
button.player_play {
    position: absolute;
    right: 0;
}
.ui-icon-trash:hover {
    background-image: url("/global/js/jqueryui/images/ui-icons_cc0000_256x240.png");
}

.jvectormap-tip{
    z-index: 100000000000000;
}
#maptitle{
    background-color: rgb(179, 224, 255);
    text-align: center;
    font-size: large;
    padding: 5px;
}
#mapdatalinks{
    text-align: right;
    font-size: small;
    padding: 5px;
}

#mapdatalinks a {
    color: #0000FF;
}

.highcharts-tooltip{
    width: auto !important;
}
.highcharts-tooltip table{
    font-size: small;
}

.custom-combobox {
    position: relative;
    display: inline-block;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}
.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}
.ui-front{
    z-index: 99999;
}

.ui-widget-content a {
    color: rgb(0, 0, 238);
}
.frameSlider{
    width: 1200px;
    display: inline-block;
    margin: 10px 15px 0 40px;
}
#frameOptionTags{
    margin-top: 8px;
}

.frameColumnButton:hover .ui-button-icon {
    background: url(/global/js/jqueryui/images/ui-icons_cc0000_256x240.png);
    background-position: -96px -128px;
}
th.th-no-underline{
    border-bottom: none !important;
}
th.th-underline-with-break{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
